/*----- FOR SMART PHONES MAX WIDTH:1440px------ */
@media (max-width:1440px) {
    .footer{
        position: fixed;

    }

    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:1280px------ */
@media (max-width:1280px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:980px------ */
@media (min-width: 980px) {
}

/*----- FOR SMART PHONES MAX WIDTH:800px------ */
@media (max-width:800px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MIN WIDTH:768px AND MAX WIDTH:979px------ */
@media (min-width: 768px) and (max-width: 979px) {
}

/*----- FOR SMART PHONES MAX WIDTH:768px------ */
@media (max-width: 768px) {
    .wrapper {
        margin-top: 120px;
    }
    .header-top{
        top: 50px !important;
        float: right;
    }
    header{
        height: 130px;
    }
    ul.sidebar-menu{
        margin-top: 30px;
    }
    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }
    .dropdown-menu {
        top: 85px !important;
        left: 0px;
    }
    /* body container */
    #main-content {
        margin: 0px!important;
        /*position: none !important;*/
    }
    #sidebar > ul > li > a > span {
        line-height: 35px;
    }
    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    /*#sidebar > ul > li > a i{*/
        /*/!*display: none !important;*!/*/
    /*}*/
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }
    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        
    }
    /* sidebar */
    #sidebar {
        margin-top: 130px !important;
    }
    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }
    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }
    .img-responsive {
        width: 100%;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:600px------ */
@media (max-width:600px) {
    .wrapper {
       margin-top: 120px;
    }
    .header-top{
        top: 50px !important;
        float: right;
    }
    header{
        height: 130px;
    }
    ul.sidebar-menu{
        margin-top: 30px;
    }
    .footer{
        position: fixed;

    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:480px------ */
@media (max-width: 480px) {
    .wrapper {
        margin-top: 120px;
    }
    .header-top{
        top: 50px !important;
        float: right;
    }
    header{
        height: 130px;
    }
    ul.sidebar-menu{
        margin-top: 30px;
    }
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
    .chart-position {
       margin-top: 0px;
     }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc ;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:414px------ */
@media (max-width:414px) {
    .wrapper {
        margin-top: 200px !important;
        height: 200px !important;
    }
    #sidebar{
        margin-top: 183px !important;
    }
    header{
       height: 185px;
    }
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:412px------ */
@media (max-width:412px) {
    .footer{
        position: fixed;

    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:384px------ */
@media (max-width:384px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:375px------ */
@media (max-width:375px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:360px------ */
@media (max-width:360px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

/*----- FOR SMART PHONES MAX WIDTH:320px------ */
@media (max-width:320px) {
    .footer{
        position: fixed;
    }
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }
}

